* {
	font-family: 'Cormorant Garamond', serif;
}

li{
	display: flex;
	justify-content: flex-end;
	align-items: right;

}
body {
	background-image: url(DDUbackground2.jpg);
	background-size: cover; 

}

h1 {
	font-family: serif;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 300px;
	text-align: center;
	box-shadow: 4px 4px 5px black;
	margin-top: 10px;
	background-color: rgb(194, 111, 149);
	-moz-box-shadow: 4px 4px 5px black;
	-ms-box-shadow: 4px 4px 5px black;
	-webkit-box-shadow: 4px 4px 5px rgb(0, 0, 0);
	-o-box-shadow: 4px 4px 5px black;	

}

h2{
	color: rgb(24, 15, 29);
	text-align: center;
	border: 5px solid rgb(152, 48, 83, 0.8);
	cursor: pointer;
	font-size: 2em;
}

h3 {
	display: flexbox;
	font-size: 60px;
	text-align: center;
	text-decoration: underline;
	color: rgb(103, 1, 23);


}

img {
	display: flex;
	float: right;

}

button {
	display: flex;
	font-size: 150%;
	flex-direction: column;


}

button:hover {
	display: flexbox;
	justify-content: center;
	cursor: pointer;
	
}

footer {
	font-size: 250%;
	align-items: center;
	font-weight: bold;
	color: rgb(103, 1, 23);
	text-align: center;
	text-decoration: underline;
}

p {
	line-height: 30px;
	font-weight: bold;
	font-size: 140%;
	color: rgb(24, 15, 29);
		border: 5px dashed gray;
	background-color: rgb(49, 15, 159, 20%); 
	text-indent: 25px;
	
}



.p {
	color: rgb(24, 15, 29);
		border: 5px dashed gray;
	background-color: rgb(49, 15, 159, 20%); 
	text-indent: 25px;
}

.buttons {
	line-height: 20px;
	font-weight: bold;
	font-size: 90%;
}

.button-1 {
	font-size: 15px;
	font-weight: bold;
	
}

form {
	line-height: 30px;
	font-weight: bold;
	font-size: 140%;
}

select {
	line-height: 20px;
	font-weight: bold;
	font-size: 90%;
	
}
